.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    height: 60px;
    padding: 0 20px 20px;

    > * {
        color: white;
    }

    .externalLinks {
        display: flex;
        justify-content: flex-end;
    }
}