.footer {
    height: 60px;
    padding-bottom: 20px;

    img {
        margin-left: 0.5rem;
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.poweredBy {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo {
    height: 1em;
}