.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    box-sizing: border-box;
    background: #161b21;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.name {
    font-family: 'Dancing Script', cursive;
}