.layout {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}