.buttonBase {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: inherit;
    min-height: 50px;
    user-select: none;

    background: transparent;

    &.sz-small {
        padding: 10px;
        font-size: 16px;
    }

    &.sz-medium {
        height: 50px;
        padding: 0 10px;
        font-size: 24px;
    }

    &.sz-large {
        height: 50px;
        padding: 0 20px;
        font-size: 30px;
        font-weight: bold;
    }

    &:active {
        color: inherit;
    }

    &.disabled {
        pointer-events: none;
    }
}