.button {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: inherit;

    background: transparent;
    transition: 0.15s ease-in-out;
    transition-property: background-color, color;

    &:active {
        color: inherit;
    }

    &.sz-small {
        padding: 10px;
        font-size: 16px;
    }

    &.sz-medium {
        height: 50px;
        padding: 0 10px;
        font-size: 24px;
    }

    &.sz-large {
        height: 50px;
        padding: 0 20px;
        font-size: 30px;
        font-weight: bold;
    }

    &:hover {
        &.an-darken {
            background-color: rgba(0, 0, 0, 0.25);
        }

        &.an-swap {
            // Figure out if there's a way of clipping the text to be transparent
            background-color: #f492a5;
            color: #161b21;
        }
    }
}