.pride {
    width: 100%;
    height: 20px;
    background: linear-gradient(0deg, rgb(85, 91, 255) 0%, rgb(85, 91, 255) 20%, rgb(31, 193, 27) 20%, rgb(31, 193, 27) 40%, rgb(255, 217, 19) 40%, rgb(255, 217, 19) 60%, rgb(255, 156, 85) 60%, rgb(255, 156, 85) 80%, rgb(255, 85, 85) 80%, rgb(255, 85, 85) 100%);
}