.badge {
    display: inline-flex;
    border-radius: 20px;
    min-height: 40px;
    background: var(--silvy-primary-color);
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}