.card {
    --card-background-color: var(--silvy-tertiary-color);
    --card-color: var(--silvy-secondary-color);

    background: var(--card-background-color);
    color: var(--card-color);

    padding: 10px;
    border-radius: 5px;
}