.content {
    display: flex;
    gap: 10px;

    &.main {
        margin: auto;
        max-width: 1480px;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-top: none;
        border-bottom: none;
    }

    &.dir-horizontal {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &.dir-vertical {
        flex-direction: column;
    }
}